.consultation {
    min-height: 680px;
    padding: 100px 0 92px 0;
    background: url('../../img/bg/runBg.png') center (center) no-repeat;
    background-size: 100% 100%;
    background-attachment: fixed;
    &__descr {
        color: #ffffff;
        font-size: 20px;
        font-weight: 500;
    }
}